* {
  margin: 0;
  padding: 0;
}

.gameContainer {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.buttons {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#Rock,
#Paper,
#Scissors {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

#outcome {
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.score {
  font-size: large;
}
